# AnyRouter 账号配置
ANYROUTER_ACCOUNTS=[
  {
    "cookies": {
      "session": "MTc3MDk5MjU2OHxEWDhFQVFMX2dBQUJFQUVRQUFEX3hQLUFBQVlHYzNSeWFXNW5EQVFBQW1sa0EybHVkQVFFQVA2OTFBWnpkSEpwYm1jTUNnQUlkWE5sY201aGJXVUdjM1J5YVc1bkRBNEFER2RwZEdoMVlsOHlOREk1T0FaemRISnBibWNNQmdBRWNtOXNaUU5wYm5RRUFnQUNCbk4wY21sdVp3d0lBQVp6ZEdGMGRYTURhVzUwQkFJQUFnWnpkSEpwYm1jTUJ3QUZaM0p2ZFhBR2MzUnlhVzVuREFrQUIyUmxabUYxYkhRR2MzUnlhVzVuREEwQUMyOWhkWFJvWDNOMFlYUmxCbk4wY21sdVp3d09BQXhxWW05SFVHRlRiV0pYVVZBPXyiELfa0qyVsijyuCczpHAZ3vZE2mw6V82sNYbI0UhTHA=="
    },
    "api_user": "24298",
    "name": "github_24298"
  },
  {
    "cookies": {
      "session": "MTc3MDkwMDQ2NHxEWDhFQVFMX2dBQUJFQUVRQUFEX2pfLUFBQVVHYzNSeWFXNW5EQVFBQW1sa0EybHVkQVFGQVAwRDdINEdjM1J5YVc1bkRBb0FDSFZ6WlhKdVlXMWxCbk4wY21sdVp3d0ZBQU4zZUdnR2MzUnlhVzVuREFZQUJISnZiR1VEYVc1MEJBSUFBZ1p6ZEhKcGJtY01DQUFHYzNSaGRIVnpBMmx1ZEFRQ0FBSUdjM1J5YVc1bkRBY0FCV2R5YjNWd0JuTjBjbWx1Wnd3SkFBZGtaV1poZFd4MHwhDtnOL4xb7DEmpu6PF8VQMyZlTgPSmGM_c2leX68VuA=="
    },
    "api_user": "128575",
    "name": "email"
  },
  {
    "cookies": {
      "session": "MTc3MDk5MjcwN3xEWDhFQVFMX2dBQUJFQUVRQUFEX3h2LUFBQVlHYzNSeWFXNW5EQTBBQzI5aGRYUm9YM04wWVhSbEJuTjBjbWx1Wnd3T0FBeFplakZEWmpodGJuRkJPV2dHYzNSeWFXNW5EQVFBQW1sa0EybHVkQVFGQVAwQ1ZaSUdjM1J5YVc1bkRBb0FDSFZ6WlhKdVlXMWxCbk4wY21sdVp3d1BBQTFzYVc1MWVHUnZYemMyTkRnNUJuTjBjbWx1Wnd3R0FBUnliMnhsQTJsdWRBUUNBQUlHYzNSeWFXNW5EQWdBQm5OMFlYUjFjd05wYm5RRUFnQUNCbk4wY21sdVp3d0hBQVZuY205MWNBWnpkSEpwYm1jTUNRQUhaR1ZtWVhWc2RBPT18Ywox1g24CvtMioERrLYvZDF5CzkDkcYpKxzJPl5vljE="
    },
    "api_user": "76489",
    "name": "linuxdo"
  }
]

# 可选：通知配置
# DINGDING_WEBHOOK=https://oapi.dingtalk.com/robot/send?access_token=xxx
EMAIL_USER=w15129742420@163.com
EMAIL_PASS=BEvsUm9fkN6BXPzA
EMAIL_TO=w15129742420@163.com
# EMAIL_SENDER=
# PUSHPLUS_TOKEN=your_pushplus_token
# SERVERPUSHKEY=your_server_pushkey
# FEISHU_WEBHOOK=https://open.feishu.cn/open-apis/bot/v2/hook/xxx
# WEIXIN_WEBHOOK=https://qyapi.weixin.qq.com/cgi-bin/webhook/send?key=xxx
# GOTIFY_URL=https://your-gotify-server/message
# GOTIFY_TOKEN=your_gotify_token
# GOTIFY_PRIORITY=9
